.path-list {
  text-align: left;
}

table {
  border-collapse: collapse;
  min-width: 50vw;
}

td {
  border-top: 1px solid black;
  padding: 5px;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="text"] {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 1rem;
}

.file-button {
  background-color: lightblue;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
  border-width: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
